<storybook-crypto-header label="Add Crypto"></storybook-crypto-header>
<div class="add-crypto">
  <form [formGroup]="addCryptoForm" (ngSubmit)="addCrypto()" class="crypto-form">
    <div class="cards-container">
      <div *ngFor="let field of formFields">
        <mat-form-field appearance="outline">
          <mat-label>{{field.label}}</mat-label>
          <input matInput [type]="field.type" [formControlName]="field.name">
          <mat-error
            *ngIf="addCryptoForm.controls[field.name].hasError('pattern') && addCryptoForm.controls[field.name].touched">
            {{field.name === 'ank' ? 'Rank must be a number only' : 'Decimal Value not allowed'}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <storybook-button class="add-crypto-button" (click)="close()" label="Cancel"></storybook-button>
    <storybook-button class="add-crypto-button" [disabled]="!addCryptoForm.valid" [primary]="addCryptoForm.valid"
      (click)="addCrypto()" label="Add Asset"></storybook-button>
  </form>
</div>