.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 20px;
}

.add-crypto {
  margin-top: 10px;
}

.add-crypto-button {
  margin-bottom: 10px;
  float: inline-end;
  margin-right: 10px;
}
