.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card-style {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-action {
  flex-direction: row-reverse;
}

.price-style {
  font-weight: 800;
}
