<div class="cards-container">
  <mat-card class="card-style" *ngFor="let crypto of cryptoList">
    <mat-card-header>
      <mat-card-title>{{crypto.name}}</mat-card-title>
      <mat-card-subtitle>{{crypto.priceUsd}} <span class="price-style">USD</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="card-action">
      <button mat-button color="warn" (click)="removeCrypto(crypto.id)">Remove</button>
    </mat-card-actions>
  </mat-card>
</div>